<style type="text/css">
	.input-group-addon { padding: 10px 12px;font-size: 15px;color: #ffffff;text-align: center;background-color: #bdc3c7;border: 1px solid #bdc3c7;border-radius: 6px;-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;transition: border .25s linear, color .25s linear, background-color .25s linear;
}
</style>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">PEGI</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Alcanza tus metas</h3>
			<ul class="list-inline intro-social-buttons">
        <ul class="list-inline intro-social-buttons">
          <li>
          <% if current_user %>
              <%= link_to ('dashboard'), :class => "btn  btn-lg mybutton_cyano wow swing center" do %>
                <span class="network-name">Administrador</span>
              <% end %>
          <% else %>
            <%= link_to (user_omniauth_authorize_path(:facebook)), :class => "btn  btn-lg mybutton_cyano wow swing center" do %>
                <span class="network-name">Inicia sesión con facebook</span>
            <% end %>
          <% end %>
          </li>
          <li>
          <% if current_user %>
            <%= link_to (destroy_user_session_path),:method => 'DELETE', :class => "btn  btn-lg mybutton_standard wow swing wow fadeIn" do %>
                <span class="network-name">Cerrar Sesión</span>
            <% end %>
          <% else %>
            <%= link_to (new_user_session_path), :class => "btn  btn-lg mybutton_standard wow swing wow fadeIn" do %>
                <span class="network-name">Inicia Sesión</span>
            <% end %>
          <% end %>
          </li>
        </ul>
			</ul>
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis">
				<%= image_tag("icon/circle.png",{ class: "img_scroll" }) %>
				</a>
			</div>
		</div>
    </div>

	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">PEGI</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="#whatis">Que es?</a></li>
					<li class="menuItem"><a href="#screen">Captura de Pantalla</a></li>
					<li class="menuItem"><a href="#Descargalink">Descarga</a></li>
					<li class="menuItem"><a href="#Contacto">Contacto</a></li>
          <li class="menuItem">
						<% if current_user %>
								<%= link_to ('dashboard'), :controller => "Administrador" %>
						<% else %>
							<%= link_to 'Inicia sesión con facebook',user_omniauth_authorize_path(:facebook) , :id => "signInFacebook" %>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Que es?</h2>

			</div>

			<div class="row">

				<div class="col-sm-12 wow fadeInDown text-center">
					<%= image_tag("icon/pegi_trace.png",{ class: "rotate", style: "width:150px" }) %>
				  <h3>Objetivos</h3>
				  <p class="lead">
						<ul>
							<li>Ahorra para lo que desees, con tu meta personal.</li>
							<li>Comparte logros de ahorro con amigos.</li>
							<li>Notificaciones de ahorro y motivación.</li>
							<li>Ahorra con amigos hacía una misma meta.</li>
							<li>Automágicamente la aplicación nos indica si podemos gastar o no cierta cantidad.</li>
						</ul>
					</p>
				</div><!-- /.col-lg-12 -->

			</div><!-- /.row -->
		</div>
	</div>


	<!-- Captura de Pantalla -->
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>Aplicación Móvil</h2>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">

									<a href="<%= asset_path 'slide/1.png' %>" class="image-link">
									  <div class="item">
											<%= image_tag("slide/1.png",{ class: "img-responsive img-rounded" }) %>
										</div>
									</a>

					        <a href="<%= asset_path 'slide/2.png' %>" class="image-link">
										<div class="item">
											<%= image_tag("slide/2.png",{ class: "img-responsive img-rounded" }) %>
										</div>
									</a>

									<a href="<%= asset_path 'slide/3.png' %>" class="image-link">
										<div class="item">
											<%= image_tag("slide/3.png",{ class: "img-responsive img-rounded" }) %>
										</div>
									</a>
              </div>
          </div>
        </div>
	</div>

	<div style="display:none" class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
		<button type="button "><span>&nbsp;</span></button>
	</div>



	<!-- Banner Descarga -->
	<div id="Descargalink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Utilizarla es fácil</h2>
				<p class="lead" style="margin-top:0">Páganos con un tweet</p>
				<p><a class="btn btn-embossed btn-primary view" role="button">Es gratis</a></p>
			 </div>
			</div>
		</div>
	</div>

	<!-- Contacto -->
	<div id="Contacto" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contáctanos</h2>
			</div>

			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Tu nombre</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback" style="line-height: 0;width: 10px;"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputEmail">Tu Correo Electrónico</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback" style="line-height: 0;width: 10px;"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputMessage">Tus Comentarios</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback" style="line-height: 0;width: 10px;"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>

			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Centraal</h3>
					<p class="lead">
            Zamora 187<br>
            Condesa, Cuauhtémoc<br>
            06140 Ciudad de México, Distrito Federal, México<br>
          </p>
					</address>

					<h3>Follow Us</h3>
					<li class="social">
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
