<h1>Listing recurring_expenses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Ingress</th>
      <th>Egress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurring_expenses.each do |recurring_expense| %>
      <tr>
        <td><%= recurring_expense.name %></td>
        <td><%= recurring_expense.amount %></td>
        <td><%= recurring_expense.ingress %></td>
        <td><%= recurring_expense.egress %></td>
        <td><%= link_to 'Show', recurring_expense %></td>
        <td><%= link_to 'Edit', edit_recurring_expense_path(recurring_expense) %></td>
        <td><%= link_to 'Destroy', recurring_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurring expense', new_recurring_expense_path %>
